.version.home2 /* version checker */
{
	color: #000009;
	background-color: #F88D59;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u281-4
{
	z-index: 2;
	width: 801px;
	min-height: 84px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 219px;
}

#u284
{
	z-index: 6;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 130px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}


