.version.home2 /* version checker */
{
	color: #000017;
	background-color: #588ACE;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px 130px;
}

#menuu220
{
	z-index: 2;
	width: 446px;
	margin-left: 574px;
	position: relative;
}

#u221
{
	width: 222px;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
}

#u222
{
	width: 222px;
	padding-bottom: 47px;
	position: relative;
}

#u222:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u222:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u224-4
{
	width: 222px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 23px;
}

#u222:hover #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u222:active #u224-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u228
{
	width: 222px;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u229
{
	width: 222px;
	padding-bottom: 47px;
	position: relative;
}

#u222.MuseMenuActive,#u229:hover
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u229:active
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u229.MuseMenuActive
{
	width: 222px;
	min-height: 0px;
	margin: 0px;
}

#u232-4
{
	width: 222px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 23px;
}

#u222.MuseMenuActive #u224-4,#u229:hover #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u229:active #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u229.MuseMenuActive #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#pu281-4
{
	width: 0.01px;
	margin-top: 32px;
}

#u281-4
{
	z-index: 15;
	width: 801px;
	min-height: 84px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	left: 89px;
}

#u284
{
	z-index: 19;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

