.version.index /* version checker */
{
	color: #00000E;
	background-color: #27ED53;
}

#page
{
	margin-left: auto;
	border-width: 0px;
	background-color: transparent;
	min-height: 1686px;
	margin-right: auto;
	background-image: none;
	border-color: #000000;
	z-index: 1;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
	padding-bottom: 62px;
	padding-top: 20px;
}

#menuu538
{
	margin-left: 618px;
	background-color: transparent;
	position: relative;
	width: 634px;
	border-width: 0px;
	border-color: transparent;
	z-index: 22;
}

#u539
{
	margin-right: -10000px;
	width: 210px;
	background-color: transparent;
	min-height: 78px;
	position: relative;
}

#u605
{
	left: 212px;
	background-color: transparent;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	width: 210px;
}

#u584
{
	left: 424px;
	background-color: transparent;
	min-height: 78px;
	position: relative;
	margin-right: -10000px;
	width: 210px;
}

#u540,#u606,#u585
{
	width: 210px;
	padding-bottom: 44px;
	background-color: #C4C4C4;
	position: relative;
}

#u540:active,#u606:active,#u585:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 210px;
	margin: 0px;
}

#u540:hover,#u540.MuseMenuActive,#u606:hover,#u606.MuseMenuActive,#u585:hover,#u585.MuseMenuActive
{
	background-color: #999999;
	min-height: 0px;
	width: 210px;
	margin: 0px;
}

#u542-4,#u607-4,#u586-4
{
	color: #FFFFFF;
	width: 210px;
	background-color: transparent;
	min-height: 34px;
	position: relative;
	text-align: center;
	top: 22px;
	line-height: 34px;
	font-size: 28px;
	margin-right: -10000px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-width: 0px;
	border-color: transparent;
}

#u540:hover #u542-4,#u540:active #u542-4,#u540.MuseMenuActive #u542-4,#u606:hover #u607-4,#u606:active #u607-4,#u606.MuseMenuActive #u607-4,#u585:hover #u586-4,#u585:active #u586-4,#u585.MuseMenuActive #u586-4
{
	padding-bottom: 0px;
	min-height: 34px;
	width: 210px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem
{
	cursor: pointer;
}

#pu191-4
{
	margin-top: 80px;
	margin-left: 366px;
	width: 0.01px;
}

#u191-4
{
	margin-right: -10000px;
	width: 472px;
	z-index: 18;
	position: relative;
}

#u191-4_img
{
	vertical-align: top;
	display: block;
}

#about
{
	margin-right: -10000px;
	margin-top: 29px;
	width: 22px;
	position: relative;
}

#pu94
{
	margin-top: 53px;
	margin-left: -85px;
	width: 0.01px;
}

#u94
{
	margin-right: -10000px;
	width: 428px;
	background-color: transparent;
	z-index: 2;
	position: relative;
}

#u139
{
	left: 461px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 428px;
	z-index: 10;
}

#u167
{
	left: 922px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 428px;
	z-index: 14;
}

#pu766-4
{
	margin-top: 26px;
	margin-left: 366px;
	width: 0.01px;
}

#u766-4
{
	margin-right: -10000px;
	line-height: 47px;
	background-color: transparent;
	min-height: 61px;
	position: relative;
	text-align: center;
	width: 486px;
	z-index: 41;
	font-size: 39px;
}

#pu724
{
	margin-top: 50px;
	margin-left: -85px;
	width: 0.01px;
}

#u724
{
	margin-right: -10000px;
	width: 428px;
	background-color: transparent;
	z-index: 4;
	position: relative;
}

#u717
{
	left: 461px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 428px;
	z-index: 12;
}

#u710
{
	left: 922px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 428px;
	z-index: 16;
}

#pu779-4
{
	margin-top: 20px;
	margin-left: 356px;
	width: 0.01px;
}

#u779-4
{
	margin-right: -10000px;
	line-height: 43px;
	background-color: transparent;
	min-height: 52px;
	position: relative;
	text-align: center;
	width: 496px;
	z-index: 47;
	font-size: 36px;
}

#contact,#service
{
	margin-right: -10000px;
	width: 22px;
	position: relative;
}

#pu745
{
	margin-top: 61px;
	margin-left: -85px;
	width: 0.01px;
}

#u745
{
	margin-right: -10000px;
	width: 625px;
	background-color: transparent;
	z-index: 6;
	position: relative;
}

#u759
{
	left: 722px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 625px;
	z-index: 8;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	padding-bottom: 7px;
	position: relative;
}

@media (min-width: 1379px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1378px;
	}

	#about
	{
		left: 30px;
	}

	#contact
	{
		margin-top: 19px;
		left: 223px;
	}

	#service
	{
		margin-top: 18px;
		left: 218px;
	}

	body
	{
		min-width: 1378px;
	}
}

@media (max-width: 1378px)
{
	#muse_css_mq
	{
		background-color: #000562;
	}

	#bp_1378.active
	{
		display: block;
	}

	#page
	{
		width: 1178px;
	}

	#about
	{
		left: 230px;
	}

	#contact
	{
		margin-top: 12px;
		left: 230px;
	}

	#service
	{
		margin-top: 10px;
		left: 229px;
	}

	body
	{
		min-width: 1178px;
	}
}

