.version.untitled_2 /* version checker */
{
	color: #0000FE;
	background-color: #C0BC5F;
}

#page
{
	z-index: 1;
	min-height: 499.9000000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1107px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
}

#pmenuu140
{
	width: 80.58%;
	margin-left: 22.14%;
}

#menuu140
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 50%;
}

#u142
{
	padding-bottom: 42px;
	position: relative;
	width: 100%;
}

#u142:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u142:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u144-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u142:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u142:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u256
{
	padding-bottom: 42px;
	position: relative;
	width: 100%;
}

#u142.MuseMenuActive,#u256:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u256:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u259-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u142.MuseMenuActive #u144-4,#u256:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u256:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#menuu185
{
	z-index: 15;
	position: relative;
	margin-right: -10000px;
	width: 50%;
	left: 50%;
}

#u141,#u186
{
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
}

#u187
{
	padding-bottom: 42px;
	position: relative;
	width: 100%;
}

#u256.MuseMenuActive,#u187:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u187:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u189-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u256.MuseMenuActive #u259-4,#u187:hover #u189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u187:active #u189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u255,#u276
{
	min-height: 59px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
	left: 50.23%;
}

#u279
{
	padding-bottom: 42px;
	position: relative;
	width: 100%;
}

#u187.MuseMenuActive,#u279:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u279:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u279.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u280-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	width: 100%;
}

#u187.MuseMenuActive #u189-4,#u279:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u279:active #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u279.MuseMenuActive #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u300-4
{
	z-index: 28;
	min-height: 60px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	margin-top: 41px;
	position: relative;
	width: 51.41%;
	margin-left: 26.56%;
}

#u303
{
	z-index: 32;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
	width: 86.73%;
	margin-left: 5.88%;
}

#u303_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

